:root {
  --color-primary: #4b69fd;
  --color-secondary: #fff9eb;
  --color-tertiary: #c4c4c4;
  --color-button: #fe652b;
  --color-button-hover: #e55720;
  --color-text: #444444;
  --color-white: #ffffff;
}

/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

/* Banner */
.header-banner {
  flex: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0 0;
}

/* Secci贸n de entrada */
.input-section {
  flex: 60%;
  background-color: var(--color-secondary);
  border: 1px solid #000;
  border-radius: 64px 64px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
}

/* T铆tulos */
.main-title {
  font-size: 48px;
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
  color: var(--color-white);
}

.section-title {
  font-family: "Inter", serif;
  font-size: 36px;
  font-weight: 700;
  color: var(--color-primary);
  margin: 10px 0;
  text-align: center;
}

/* Contenedores de entrada y bot贸n */
.input-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
}

.input-name {
  width: 100%;
  padding: 10px;
  border: 2px solid #000;
  border-radius: 25px 0 0 25px;
  font-size: 16px;
}

.button-container {
  width: 300px;
  justify-content: center;
}

/* Estilos de entrada de texto */
.input-title {
  flex: 1;
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #333;
  border-right: none;
  border-radius: 25px 0 0 25px;
  font-family: "Merriweather", serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilos de bot贸n */
button {
  padding: 15px 30px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  border: 2px solid #000;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.button-add {
  background-color: var(--color-tertiary);
  color: var(--color-text);
  border-radius: 0 25px 25px 0;
}

.button-add:hover {
  background-color: #a1a1a1;
}

.contenedor-amigos {
  width: 250px; /* ancho fijo de la cajita */
  margin: 20px; /* espacio respecto a otros elementos */
  padding: 15px; /* espacio interno */
  border: 2px solid #ff69b4; /* borde rosa */
  border-radius: 10px; /* esquinas redondeadas */
  background-color: #ffe4ec; /* fondo suave */
  text-align: left; /* alinea el contenido a la izquierda */
}

#miParrafo {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px; /* espacio debajo del t铆tulo */
  color: #333;
}

.name-list {
  list-style-type: none; /* quita los puntitos */
  padding: 0;
  margin: 0;
}

.name-list li {
  padding: 6px 8px;
  margin-bottom: 6px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  display: flex; /*  esto luego sirve para poner algo al frente */
  justify-content: space-between;
  align-items: center;
}

.result-list {
  margin-top: 15px;
  color: #05df05;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

/* Bot贸n de sortear t铆tulo */
.button-draw {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 40px;
  color: var(--color-white);
  background-color: var(--color-button);
  font-size: 16px;
}

.button-draw img {
  margin-right: 40px;
}

.button-draw:hover {
  background-color: var(--color-button-hover);
}
